/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  width: 70px;
}

.brand h2 {
  font-family: 'Hind Siliguri',
    sans-serif;
  padding: 0 10px;
  color: #d8d8d8;
}


header {
  display: flex;
  /* position: sticky; */
  position: fixed;
  width: 100%;
  top: 0;
  background: rgb(49, 49, 50);
  background: linear-gradient(180deg, rgba(49, 49, 50, 0.8225665266106442) 31%, rgba(59, 59, 62, 0.4472163865546218) 100%, rgba(0, 212, 255, 1) 100%);
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 1rem;

}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 2rem;
}

header ul li {
  font-family: 'PT Sans Narrow',
    sans-serif;
  list-style: none;
  position: relative;
  padding: 10px 10px;
  transition: .5s;
  border-right: 1px solid rgba(255, 255, 255, .2);
}

header ul li a:hover {
  color: #FA8072;
  font-style: italic;
  transition: .3s;
}

header ul li:last-child {
  border-right: none;
}

header ul li a {
  text-decoration: none;
  padding: 0 20px;
  color: #ebebeb;
}

.active {
  color: #FA8072;
}

/* dropdown menu */

header ul li ul {
  position: absolute;
  top: 39px;
  left: 0;
  background: #212121;
  display: block;
  width: 140px;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
  padding: 5px 0px;
}


header ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

header ul li ul li {
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

/* SHOWCASE */

section {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #f4f4f4;
  background-image: url(/images/thebeach_main.jpg);
  background-size: cover;
  scroll-snap-align: center;
}

section a {
  text-decoration: none;
}

section:nth-child(3) {
  background-image: url(/images/lithuania.jpg);
}

section:nth-child(4) {
  background-image: url(/images/portugal.jpg);
}

section:nth-child(5) {
  background-image: url(/images/reflections.jpeg);
}

section:nth-child(6) {
  background-image: url(/images/sunsets.jpg);
}

section:nth-child(7) {
  background-image: url(/images/about.JPG);
}

section h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 6em;
  font-family: 'Hind Siliguri';
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  transition: .5s;
  background: linear-gradient(rgba(255, 255, 255, .9) 20%, transparent 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section h2:hover {
  letter-spacing: 15px;
}