/* Gallery */

@media screen and (max-width: 812px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  header {
    position: static;
  }

  section#about-page  {
    font-size: 0.6rem;
  }

  .about-container {
    padding: 7rem;
  } 
}